body {margin: 0; padding: 0; overflow-x: hidden;}

nav {background-color: #333; padding: 0px 15px; height: 5em; display: flex; align-items: center; justify-content: space-between;}
nav img {height: 4em;}
#nav {transition: 1s ease;}

a:hover {color: red;}

button {border-radius: 5px; background-color: #FFF; border: none; height: 30px}

#navbar {
	margin-left: -100%;
	width: 30%;
	height: 100vh;
	background-color: #DDD;
	transition: 1s ease;
	float: left;
}

ul, li, ol {list-style: none;}
#navbar button {width: 90%; margin-bottom: 5px;}

#test {
	width: 80%;
	max-width: 1024px;
	height: 100vh;
	background-color: #EEE;
	margin: 0 auto;
	padding: 15px 0px;
	text-align: justify;
}

p {padding: 0px 15px;}

#dropdown {
	height: auto;
	background-color: #333;
	transition: 1s ease;
	position: absolute;
	right: 0;
	display: none;
	padding: 15px;
}

@media screen and (max-width:769px) {

#navbar {width:100%}
#test {width: 100%;}

}